<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>781153610104-t9sr9drubrpagurk9vmg43m9n97b6fam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781153610104-t9sr9drubrpagurk9vmg43m9n97b6fam</string>
	<key>API_KEY</key>
	<string>AIzaSyCc3n-5yj-4TvNa7aBXj8sHV8vlC16UPBw</string>
	<key>GCM_SENDER_ID</key>
	<string>781153610104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Manali.com.TO-DO-List</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-29b36</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-29b36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781153610104:ios:6df08d7f4453e8dc</string>
	<key>DATABASE_URL</key>
	<string>https://to-do-list-29b36.firebaseio.com</string>
</dict>
</plist>